.config-pesquisamob,.mob-menu,.mob-pesquisa,#img-logotipomob,.config-menumob{
    display: none;
}
body{
    width: 100%;
    box-sizing: 0px;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    position:fixed;
    width: 100%;
    background-color:#031620;
    padding: 10px;
    height: 80px;
    color: white;
    top: 0;
    left: 0;
    z-index: 2;
}
a{
    color: white;
    text-decoration: none;
}

.desk-logotipo{
    display: flex;
    padding: 2px;
    justify-content: center;
    align-items: center;
}
.desk-logotipo:hover{
    transform: scale(0.9);    
}
#img-logotipodesk{
    width: 70px;
    height: 70px;
}

.desk-icones{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
}

#desk-icons{
    font-size:28px;
    cursor: pointer;
}
#desk-icons:hover{
    color: #FBB03B;
    transform: scale(0.9);    
}



.desk-carrinho{
    background-color: orange;
}


.fundo-users{
    display: flex;

    width: 100%;

    align-items: center;
}



.desk-nav{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: #FBB03B;
    padding: 10px;
    font-weight: bold;
    position:absolute;
    top: 100px;
}
nav{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
#menu-nav{
    font-size: 16px;
    color: #031620;
}



.desk-pesquisa{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 40%;
    background-color: white;
}
.pesquisa-desk{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;    
    border: 5px solid #FBB03B;
}
#deskinput-pesquisa{
    width: 90%;
    height: 100%;
    border: 0px;
    font-size: 18px;
    border: 0px;
}
#deskinput-pesquisa:focus{
    border: 0px;
    outline: none;
}
#icone-pesquisadesk{
    color: #031620;

}
#deskinput-pesquisa::placeholder{
    color: #031620;
}